<h1>Reactive form Example</h1>
<form [formGroup]="userFormGroup" #userForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-group mb-4">
    <label for="name">Name</label>
    <div>
      <input type="text" class="px-3 py-1 border border-blue-300 rounded-lg" formControlName="name">
    </div>
    <div class="text-red-600" *ngIf="userFormGroup.get('name')?.invalid && (userFormGroup.get('name')?.touched || userForm?.submitted)">
      <p *ngIf="userFormGroup.get('name')?.errors?.['required']">Name is required.</p>
      <p *ngIf="userFormGroup.get('name')?.errors?.['minlength']">Name must be 5 characters long.</p>
    </div>
  </div>
  <div class="form-group mb-4">
    <label for="name">Email</label>
    <div>
      <input type="email" class="px-3 py-1 border border-blue-300 rounded-lg" formControlName="email">
    </div>
    <div class="text-red-600" *ngIf="userFormGroup.get('email')?.invalid && (userFormGroup.get('email')?.touched || userForm?.submitted)">
      <p *ngIf="userFormGroup.get('email')?.errors?.['required']">Email is required.</p>
      <p *ngIf="userFormGroup.get('email')?.errors?.['email']">Should be a valid email.</p>
    </div>
  </div>
  <div class="form-group mb-4">
    <label for="name">Age</label>
    <div>
      <input type="text" class="px-3 py-1 border border-blue-300 rounded-lg" formControlName="age">
    </div>
    <div class="text-red-600" *ngIf="userFormGroup.get('age')?.invalid && (userFormGroup.get('age')?.touched || userForm?.submitted)">
      <p *ngIf="userFormGroup.get('age')?.errors?.['required']">Age is required.</p>
      <p *ngIf="userFormGroup.get('age')?.errors?.['min']">User Must be more than 9 years old.</p>
    </div>
  </div>
  <div class="form-group">
    <button class="bg-blue-400 cursor-pointer px-5 py-1 rounded-md mt-4">Submit</button>
  </div>
</form>